<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
       <!-- Page header -->
        <header class="my-5">
          <h1><%= display_date_header(date) %>
            <small class="text-muted"><%= date %></small>
          </h1>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 offset-lg-1 d-none d-lg-block">
        <%= render "items/shared/navs" %>
      </div>
      <div class="col-lg-6">
        <!-- New task form -->
        <section class="mb-5">
<!--           <div class="row"> -->
            <%= render "items/shared/form", task: task, date: date %>
          <!-- </div> -->
        </section>
        <!-- Items list -->
        <section>
          <!-- <div class="row"> -->
            <%= render "items/shared/list", items: items %>
          <!-- </div> -->
        </section>
      </div>
    </div>
  </div>
</section>

<%= javascript_pack_tag 'checkbox' %>
