<ul class="list-unstyled">
  <% items.each do |item| %>
    <li>
      <div class="card item-card <%= "border-light" if item.listable.done %>">
        <div class="card-body item-card-body">
          <div class="item-card-checkbox">
            <%= form_for item.listable do |f| %>
              <%= f.check_box :done %>
            <% end %>
          </div>
          <div class="item-card-title">
            <% if item.listable.done %>
              <span class="text-muted"><del><%= item.listable.title %></del></span>
            <% else %>
              <span><%= item.listable.title %></span>
            <% end %>
          </div>
          <div class="item-card-controls">
            <% if date < Date.today %>
              <%= link_to "Add to today", today_schedule_path(item), method: :put, class: "btn btn-outline-primary btn-sm mx-2"  %>
            <% end %>
            <%= link_to edit_task_path(item.listable), class: "mx-1" do %>
              <%= octicon "pencil", class: "text-muted" %>
            <% end %>
            <%= link_to task_path(item.listable), method: :delete, data: { confirm: 'Are you sure?' }, class: "mx-1" do %>
              <%= octicon "x", class: "text-muted" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
