<ul class="list-unstyled">
  <% items.each do |item| %>
    <li>
      <div class="card item-card <%= "border-light" if item.done %>">
        <div class="card-body item-card-body">
          <div class="item-card-checkbox mr-2">
            <%= form_for item do |f| %>
              <%= f.check_box :done %>
            <% end %>
          </div>
          <div class="item-card-title px-1">
            <% if item.done %>
              <p class="text-muted"><del><%= item.title %></del></p>
            <% else %>
              <p><%= item.title %></p>
            <% end %>
          </div>
          <div class="item-card-controls">
            <% if date < Date.current %>
              <%= link_to "Add to today", today_schedule_path(item), method: :put, class: "btn btn-outline-primary btn-sm mx-2"  %>
            <% end %>
            <%= link_to edit_item_path(item), class: "mx-1" do %>
              <%= octicon "pencil", class: "text-muted align-middle" %>
            <% end %>
            <%= link_to item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "mx-1" do %>
              <%= octicon "x", class: "text-muted align-middle" %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>


